@use "global" as *;

.home-blog__title {
  text-align: center;
}

.home-blog__items {
  column-gap: 0;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: rem(48);
  row-gap: rem(20);
  
  @include mq('md') {
    column-gap: rem(50);
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(80);
    row-gap: rem(54);
  }
}

.home-blog__button {
  margin-top: rem(40);
  opacity: 0;
  text-align: center;

  @include mq('md') {
    margin-top: rem(66);
  }
}

.home-blog__button.is-appear {
  animation-duration: $anime-duration;
  animation-fill-mode: $anime-fill-mode;
  animation-name: fadeUp;
  animation-timing-function: $anime-timing-function;
}
