@use "global" as *;

.home-recommend__title {
  text-align: center;
}

.home-recommend__items {
  column-gap: rem(60);
  display: grid;
  grid-template-columns: 1fr;
  margin: rem(38) auto 0;
  max-width: calc(100% - rem(50));
  row-gap: rem(56);
  width: 100%;
  
  @include mq('md') {
    margin: rem(60) auto 0;
    max-width: calc(100% - rem(32));
    grid-template-columns: repeat(3, 1fr);
  }
}
