@use "global" as *;

.contact-content__container {
  @include mq('md') {
    max-width: rem(808);
  }
}

.contact-content__info + .contact-content__info {
  margin-top: rem(34);

  @include mq('md') {
    margin-top: rem(40);
  }
}

.contact-content__form-area {
  margin-top: rem(96);

  @include mq('md') {
    margin-top: rem(157);
  }
}
