@use "global" as *;

.contact-info {
  opacity: 0;
}

.contact-info.is-appear {
  animation-duration: $anime-duration;
  animation-fill-mode: $anime-fill-mode;
  animation-name: fadeUp;
  animation-timing-function: $anime-timing-function;
}

.contact-info__title {
  font-size: rem(20);
  font-weight: $bold;
  @include letterSpacing(80);
  @include lineHeight(20, 32);
  
  @include mq('md') {
    font-size: rem(28);
    @include lineHeight(28, 40);
  }
}

.contact-info__description {
  font-size: rem(14);
  @include lineHeight(14, 24);
  margin-top: rem(25);
}

.contact-info__description--precaution {
  color: $color-accent;
}

.contact-info__tel-wrapper {
  display: inline-flex;
  flex-direction: column;
  margin-top: rem(29);

  @include mq('md') {
    margin-top: rem(33);
  }
}

.contact-info__business-hours {
  margin-top: rem(2);
}
