<div class="l-breadcrumb p-breadcrumb">
  <div class="l-container p-breadcrumb__container">
    <% for (let i in jsonData.pages[pageId].breadcrumb) { %>
      <% let path=jsonData.pages[pageId].breadcrumb[i].path; let label=jsonData.pages[pageId].breadcrumb[i].label; %>
        <% if (path==='' ) { %>
          <span><span class="current-item">
              <%= label %>
            </span></span>
          <% } else { %>
            <span><a href="<%= path %>">
                <%= label %>
              </a></span>
            &ensp;&gt;&ensp;
            <% } %>
              <% } %>
  </div><!-- /.l-container p-breadcrumb__container -->
</div><!-- /.l-breadcrumb p-breadcrumb -->