<div class="l-pagination p-pagination">
  <a href="#" class="prev page-numbers">前へ</a>
  <a href="#" class="page-numbers">1</a>
  <span class="page-numbers current">2</span>
  <a href="#" class="page-numbers">3</a>
  <a href="#" class="next page-numbers">次へ</a>
</div><!-- /.l-pagination p-pagination -->