@use "global" as *;

.l-button-to-top {
  bottom: rem(102);
  height: rem(52);
  position: fixed;
  right: rem(10);
  width: rem(52);
  z-index: $layer-floating;

  @include mq('md') {
    bottom: rem(42);
    right: rem(20);
  }
}
