@use "global" as *;

.l-header {
  height: $header-height-sp;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $layer-header;
  
  @include mq('md') {
    height: $header-height-pc;
  }
}
