@use "global" as *;
@use "sass:math";

.staff-director-info {
  display: flex;
  flex-direction: column;

  @include mq('md') {
    align-items: flex-start;
    flex-direction: row;
  }
}

.staff-director-info__body {
  display: contents;

  @include mq('md') {
    display: block;
  }
}

.staff-director-info__greeting {
  opacity: 0;
  order: 1;

  @include mq('md') {
    order: 0;
  }
}

.staff-director-info__greeting.is-appear {
  animation-duration: $anime-duration;
  animation-fill-mode: $anime-fill-mode;
  animation-name: fadeUp;
  animation-timing-function: $anime-timing-function;
}

.staff-director-info__profile-lists {
  margin-top: rem(38);
  opacity: 0;
  order: 3;

  @include mq('md') {
    margin-top: rem(56);
    order: 0;
  }
}

.staff-director-info__profile-lists.is-appear {
  animation-duration: $anime-duration;
  animation-fill-mode: $anime-fill-mode;
  animation-name: fadeUp;
  animation-timing-function: $anime-timing-function;
}

.staff-director-info__profile-list:nth-child(n + 2) {
  margin-top: rem(36);

  @include mq('md') {
    margin-top: rem(28);
  }
}

.staff-director-info__image {
  border-radius: rem(20);
  margin: rem(38) 0 0;
  order: 2;
  overflow: hidden;
  position: relative;

  @include mq('md') {
    flex-shrink: 0;
    margin: rem(9) 0 0 math.div(80, 1000) * 100%;
    width: math.div(460, 1000) * 100%;
  }
}

.staff-director-info__image::before {
  content: '';
  display: block;
  @include paddingTopHack(335, 446);

  @include mq('md') {
    @include paddingTopHack(460, 613);
  }
}

.staff-director-info__image::after {
  background-color: $color-main;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  width: 100%;
}

.staff-director-info__image.is-appear::after {
  animation-duration: $anime-duration;
  animation-fill-mode: $anime-fill-mode;
  animation-name: maskAppearLeft;
  animation-timing-function: $anime-timing-function;
}

.staff-director-info__image img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.staff-director-info__image.is-appear img {
  animation-delay: 0.7s;
  animation-duration: $anime-duration;
  animation-fill-mode: $anime-fill-mode;
  animation-name: fadeIn;
  animation-timing-function: $anime-timing-function;
}
