@use "global" as *;

.l-staff {
  padding-bottom: rem(100);

  @include mq('md') {
    padding-bottom: rem(160);
  }
}

.l-staff__greeting {
  margin-top: rem(58);

  @include mq('md') {
    margin-top: rem(80);
  }
}

.l-staff__slider {
  margin-top: rem(100);

  @include mq('md') {
    margin-top: rem(157);
  }
}

.l-staff__intro {
  margin-top: rem(98);

  @include mq('md') {
    margin-top: rem(169);
  }
}
