@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');

// ----------
// 左右の余白
// ----------
$padding-pc: 40px;
$padding-sp: 20px;

// ----------
// レイアウト
// ----------
$l-xs: 375px;
$l-sm: 576px;
$l-md: 768px;
$l-lg: 992px;
$l-xl: 1200px;
$l-xxl: 1400px;
$l-container-sp: 540px;
$l-container-pc: 1000px;

// ----------
// ブレークポイント
// ----------
$breakpoints: (
  // モバイルファースト用
  'xs': '(min-width: #{$l-xs})',
  'sm': '(min-width: #{$l-sm})',
  'md': '(min-width: #{$l-md})',
  'lg': '(min-width: #{$l-lg})',
  'xl': '(min-width: #{$l-xl})',
  'xxl': '(min-width: #{l-xxl})',
  'container': '(min-width: #{$l-container-pc})',

  // PCファースト用
  // 'xxl': '(max-width: #{$l-xxl})',
  // 'xl': '(max-width: #{$l-xl})',
  // 'lg': '(max-width: #{$l-lg})',
  // 'md': '(max-width: #{$l-md - 1})',
  // 'sm': '(max-width: #{$l-sm})',
  // 'xs': '(max-width: #{$l-xs})',
  // 'container': '(max-width: #{$l-container-pc})',

  // ホバー分岐用
  'hover-sp': '(hover: none) and (pointer: coarse)',
  'hover-tab': '(hover: none) and (pointer: fine)',
  'hover-sp-tab': '(hover: none) and (any-pointer: coarse)',
  'hover-pc': '(hover: hover) and (pointer: fine)',
  ) !default;

// ----------
// font-family
// ----------
// https://saruwakakun.com/font-family
// https://ics.media/entry/200317/
// https://willcloud.jp/knowhow/font-family/
$sans-serif: 'M PLUS Rounded 1c',
  'Lato',
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  'Noto Sans JP',
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  "Yu Gothic",
  "Meiryo",
  sans-serif;

$serif: 'Noto Serif',
  "Times New Roman",
  'Noto Serif JP',
  "YuMincho",
  "Hiragino Mincho ProN",
  "Yu Mincho",
  "MS PMincho",
  serif;

$yu-gothic: "游ゴシック体",
  YuGothic,
  "游ゴシック Medium",
  "Yu Gothic Medium",
  "游ゴシック",
  "Yu Gothic",
  sans-serif;

$yu-mincho: YuMincho,
  'Yu Mincho',
  serif;

// ----------
// font-weight
// ----------
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// ----------
// opacity
// ----------
$opacity: 0.7;

// --------------------
// フォントの設定
// --------------------
$font-family-base: $sans-serif;
$font-family-sub: "";
$font-size-base: 16px;
$font-weight-base: $medium;
$line-height-base: 1.5;

// ----------
// color
// ----------
//main
$color-main: #1391E6 !default;
$color-sub: #0060A0 !default;
$color-sub02: #DFF1FD !default;
$color-accent: #EE5A6D !default;

//グレースケール
$color-black: #000000 !default;
$color-gray: #393939 !default;
$color-gray02: #707070 !default;
$color-gray03: #888888 !default;
$color-gray04: #C2C2C2 !default;
$color-gray05: #DDDDDD !default;
$color-gray06: #F6F6F6 !default;
$color-white: #FFFFFF !default;

//文字
$color-text: #393939 !default;
$color-text02: #FFFFFF !default;

//背景色
$color-bg: #FFFFFF !default;

$color-active: #2A96F8 !default;

//SNS
$color-sns-facebook: #375B95 !default;
$color-sns-twitter: #4BAEEA !default;
$color-sns-line: #04BB00 !default;

// ----------
// z-index
// ----------
$layer-modal: 100;
$layer-modal-overlay: 99;
$layer-sp-fixed-footer: 42;
$layer-hamburger: 41;
$layer-drawer: 40;
$layer-drawer-overlay: 39;
$layer-header: 30;
$layer-floating: 20;
$layer-footer: 10;
$layer-up: 2;
$layer-default: 1;
$layer-background: -1;

// ----------
// ヘッダーの高さ
// ----------
$header-height-pc: 80px;
$header-height-sp: 60px;

// ----------
// transition
// ----------
$trs-duration: 0.5s;