@use "global" as *;

.l-single {
  padding-bottom: rem(100);

  @include mq('md') {
    padding-bottom: rem(160);
  }
}

.l-single__content {
  margin-top: rem(60);

  @include mq('md') {
    margin-top: rem(80);
  }
}
