@use "global" as *;
@use "sass:math";

.p-breadcrumb {
  font-size: rem(12);
  @include lineHeight(12, 18);
}

.p-breadcrumb__container {
  max-width: 100%;

  @include mq('md') {
    max-width: math.div(1180, 1280) * 100%;
  }
}

.p-breadcrumb a {
  color: $color-gray04;
}
