@use "global" as *;

.p-input-group {
  @include mq('md') {
    align-items: center;
    display: flex;
  }
}

.p-input-group__label {
  align-items: flex-start;
  display: flex;

  @include mq('md') {
    width: rem(240);
  }
}

.p-input-group__label--required::after {
  background-color: $color-accent;
  border-radius: rem(4);
  color: $color-white;
  content: '必須';
  display: inline-block;
  font-size: rem(12);
  font-weight: $bold;
  @include lineHeight(12, 12);
  margin-left: rem(12);
  padding: rem(5) rem(6) rem(6);

  @include mq('md') {
    margin-left: rem(16);
  }
}

.p-input-group__label--multi-row span {
  color: $color-gray03;
  display: block;
  font-size: rem(11);
  margin-top: rem(1);
}

.p-input-group__field {
  margin-top: rem(12);

  @include mq('md') {
    margin-top: 0;
    width: calc(100% - rem(240));
  }
}

.p-input-group__field--radio,
.p-input-group__field--checkbox {
  margin: rem(18) 0 rem(-15);

  @include mq('md') {
    margin: 0 0 rem(-15);
  }
}
