@use "global" as *;
@use "sass:color";

.p-medical-link {
  color: $color-text02;
  display: block;
  position: relative;
}

.p-medical-link::after {
  border: rem(2) solid $color-white;
  border-radius: rem(20);
  bottom: 0;
  content: "";
  display: block;
  height: calc(100% - rem(12));
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity $trs-duration, visibility $trs-duration;
  visibility: hidden;
  width: calc(100% - rem(12));
  z-index: $layer-up;
}

.p-medical-link:focus::after,
.p-medical-link:hover::after {
  @include mq('hover-pc') {
    opacity: 1;
    visibility: visible;
  }
}

.p-medical-link__image {
  border-radius: rem(20);
  overflow: hidden;
  position: relative;
}

.p-medical-link__image::before {
  content: '';
  display: block;
  @include paddingTopHack(335, 210);

  @include mq('md') {
    content: '';
    display: block;
    @include paddingTopHack(460, 288);
  }
}

.p-medical-link__image::after {
  background-color: color.adjust($color-black, $alpha: -0.8);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color $trs-duration;
  width: 100%;
}

.p-medical-link:focus .p-medical-link__image::after,
.p-medical-link:hover .p-medical-link__image::after {
  @include mq('hover-pc') {
    background-color: color.adjust($color-black, $alpha: -0.6);
  }
}

.p-medical-link__image img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  transform: scale(1);
  transition: transform $trs-duration;
  width: 100%;
}

.p-medical-link:focus .p-medical-link__image img,
.p-medical-link:hover .p-medical-link__image img {
  @include mq('hover-pc') {
    transform: scale(1.1);
  }
}

.p-medical-link__content {
  left: 50%;
  @include letterSpacing(80);
  padding: 0 rem(14);
  position: absolute;
  z-index: $layer-up;
  text-align: center;
  top: calc(62 / 210 * 100%);
  transform: translateX(-50%);
  width: 100%;
  
  @include mq('md') {
    top: calc(93 / 288 * 100%);
  }
}

.p-medical-link__title {
  font-size: rem(20);
  font-weight: $bold;
  @include lineHeight(20, 28);
  padding-bottom: rem(22);
  position: relative;

  @include mq('md') {
    font-size: rem(28);

  }
}

.p-medical-link__title::after {
  background-color: $color-white;
  border-radius: rem(30);
  bottom: 0;
  content: '';
  display: block;
  height: rem(2);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: rem(30);

  @include mq('md') {
    width: rem(40);
  }
}

.p-medical-link__description {
  font-size: rem(12);
  @include lineHeight(12, 19);
  margin-top: rem(20);
  
  @include mq('md') {
    font-size: rem(16);
    @include lineHeight(16, 28);
    margin-top: rem(17);
  }
}
