@use "global" as *;

.p-recommend-card__title {
  text-align: center;
}

.p-recommend-card__image {
  margin-top: rem(13);
  text-align: center;

  @include mq('md') {
    margin-top: rem(16);
  }
}

.p-recommend-card__body {
  margin-top: rem(22);
}

.p-recommend-card__description {
  font-size: rem(14);
  @include lineHeight(14, 24);
}

.p-recommend-card__description--precaution {
  color: $color-accent;
}
