@use "global" as *;

.p-recommend-card {
  opacity: 0;
}

.p-recommend-card.is-appear {
  animation-duration: $anime-duration;
  animation-fill-mode: $anime-fill-mode;
  animation-name: fadeUp;
  animation-timing-function: $anime-timing-function;
}

.p-recommend-card.is-appear:nth-child(3n - 1) {
  @include mq('md') {
    animation-delay: 0.5s;
  }
}

.p-recommend-card.is-appear:nth-child(3n) {
  @include mq('md') {
    animation-delay: 1.0s;
  }
}

.p-recommend-card__title {
  text-align: center;
}

.p-recommend-card__image {
  margin-top: rem(13);
  text-align: center;

  @include mq('md') {
    margin-top: rem(16);
  }
}

.p-recommend-card__body {
  margin-top: rem(22);
}

.p-recommend-card__description {
  font-size: rem(14);
  @include lineHeight(14, 24);
}

.p-recommend-card__description--precaution {
  color: $color-accent;
}
