@use "global" as *;

.p-staff-data__item {
  display: flex;
}

.p-staff-data__item:nth-child(n + 2) {
  border-top: rem(1) solid $color-white;
}

.p-staff-data__term,
.p-staff-data__description {
  font-size: rem(14);
  padding: rem(16) rem(12) rem(17) rem(20);
}

.p-staff-data__term {
  background-color: $color-sub02;
  width: rem(140);
}

.p-staff-data__description {
  width: calc(100% - rem(140));
}
