@use "global" as *;

.p-sidebar-latest-posts__head {
  align-items: center;
  border-bottom: rem(1) solid $color-gray03;
  display: flex;
  font-size: rem(14);
  font-weight: $bold;
  @include lineHeight(14, 20);
  padding-bottom: rem(8);
}

.p-sidebar-latest-posts__head::before {
  background-image: url(../img/common/icon_document.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: rem(24);
  margin-right: rem(10);
  width: rem(24);
}

.p-sidebar-latest-posts__items {
  margin-top: rem(20);
}

.p-sidebar-latest-posts__item:nth-child(n + 2) {
  margin-top: rem(20);
}
