@use "global" as *;

.l-archive {
  padding-bottom: rem(100);

  @include mq('md') {
    padding-bottom: rem(160);
  }
}

.l-archive__body {
  margin-top: rem(60);

  @include mq('md') {
    margin-top: rem(90);
  }
}
